* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ac2222; /* Cor do header */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
  font-family: "Jester", sans-serif; /* Fonte Jester */
  font-size: 25px; /* Tamanho da fonte */
  color: white;
}

header .right-buttons {
  display: flex;
  align-items: center;
}

header .right-buttons a {
  color: white;
  background-color: #ffffff33;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

header .right-buttons a:hover {
  background-color: #ffffff55;
}

main {
  width: 100%;
  max-width: 1260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

h1 {
  font-size: 2em;
  margin: 20px 0;
}

h2 {
  color: #fff;
  text-align: center;
  margin: 2rem 0;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.form button {
  background-color: transparent;
  border: none;
}

.input-container {
  background-color: #f0f0f0;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-container input {
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  color: #000000;
}

.input-container img {
  cursor: pointer;
}

.showOnlyFavorites {
  text-align: center;
  margin-bottom: 2rem;
  color: #000000;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.card {
  position: relative; /* Permite posicionamento absoluto dos filhos */
  width: 200px; /* Defina a largura do card */
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden; /* Para cortar o que transborda */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;

  text-align: center;
}

.image-container {
  position: relative; /* Para permitir o posicionamento absoluto do ícone */
  width: 100%; /* Ocupa toda a largura do card */
  max-height: 150px; /* Define uma altura máxima para a imagem do Pokémon */
  overflow: hidden; /* Garante que nada transborde */
}

.pokemon-image {
  width: 100%; /* Mantém a imagem dentro do contêiner */
  height: auto; /* Mantém a proporção da imagem */
  object-fit: cover; /* Cobre o espaço mantendo a proporção */
}

.capture-icon {
  position: absolute; /* Permite posicionamento relativo ao card */
  top: 8px; /* Ajuste conforme necessário */
  right: 8px; /* Ajuste conforme necessário */
  width: 24px; /* Defina o tamanho do ícone */
  height: 24px; /* Defina o tamanho do ícone */
  object-fit: contain; /* Garante que a imagem se encaixe dentro do contêiner */

  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.pokemon-number {
  font-size: 0.9em;
  color: #666;
  margin-top: 10px;
}

.card h2 {
  font-size: 1.25em;
  margin: 8px 0;
  color: #333;
}

.pokemon-types {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.type {
  font-size: 0.85em;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  text-transform: uppercase;
}

.type-base {
  background-color: #e27171; /* Cor para o tipo base */
}

.type-secondary {
  background-color: #a56cc1; /* Cor para o tipo secundário */
}

footer {
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto;
  position: relative;
}
