<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sequência de Fibonacci</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='./css/add_pokemon.css') }}"
    />
    <style>
      .fibonacci-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        margin: auto;
        padding: 20px;
        border: 2px solid #333;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      }

      .fibonacci-box input,
      .fibonacci-box button {
        margin: 10px 0;
        padding: 10px;
        font-size: 1em;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Pokédex</h1>
      <div class="right-buttons">
        <a href="/">INICIO</a>
        <a href="/login">LOGIN</a>
      </div>
    </header>
    <main>
      <div class="fibonacci-box">
        <h2>Calcule Fibonacci</h2>
        <input type="number" id="fibonacciInput" placeholder="Digite um número" />
        <button onclick="calculateFibonacci()">Play</button>
        <p id="fibonacciResult"></p>
      </div>
    </main>
    <script>
      var Module = {
        onRuntimeInitialized: function () {
          // Inicialização após carregamento do WebAssembly
        },
      };

      function calculateFibonacci() {
        const input = document.getElementById("fibonacciInput").value;
        const n = parseInt(input);

        if (!isNaN(n)) {
          // Chama a função 'fibonacci' exportada do WebAssembly
          const result = Module.ccall(
            "fibonacci", // Nome da função C que você deseja chamar
            "number", // Tipo de retorno da função (neste caso, um número)
            ["number"], // Tipos dos argumentos da função
            [n] // Valor do argumento
          );

          document.getElementById("fibonacciResult").textContent =
            "Resultado: " + result;
        } else {
          document.getElementById("fibonacciResult").textContent =
            "Por favor, insira um número válido.";
        }
      }
    </script>
    <script src="{{ url_for('static', filename='./js/out_fibonacci.js') }}"></script>
  </body>
</html>
