<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokédex</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='./css/style.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1>"Pokédex"</h1>
      <div class="right-buttons">
        <a href="/add_pokemon">CADASTRAR POKEMON</a>
        <a href="/login">LOGIN</a>
      </div>
    </header>

    <main>
      <form class="input-container">
        <input
          type="text"
          name="movie-name"
          id="movie-name"
          placeholder="Digite algum filme para pesquisar..."
        />
        <img
          src="{{ url_for('static', filename='./img/search-icon.svg') }}"
          alt="Ícone de pesquisa"
          class="searchIcon"
        />
      </form>

      <div class="showOnlyFavorites">
        <input type="checkbox" name="onlyFavorites" id="onlyFavorites" />
        <label for="onlyFavorites"
          >Mostrar apenas meus pokemons capturados</label
        >
      </div>

      <div class="card-container"></div>
    </main>

    <script
      id="pokeballIcon"
      data-url="{{ url_for('static', filename='img/pokeball.png') }}"
    ></script>
    <script
      id="pokeballFillIcon"
      data-url="{{ url_for('static', filename='img/pokeball_fill.png') }}"
    ></script>
    <script src="{{ url_for('static', filename='./js/index.js') }}"></script>
  </body>
</html>
